<div class="container" class="flex-container">
    <mat-card class="content"*ngFor="let room of rooms">  
        <mat-card-title >
          <span>{{room.name}}</span>
        </mat-card-title>
    
        <mat-card-content>
            <span>connected users : {{room.users.length}} </span>
            <br>
            <mat-checkbox disabled [(ngModel)]="!room.closed" >{{ room.closed? 'closed' : 'open'}}</mat-checkbox>
        </mat-card-content>
    
        <mat-card-actions >
            <button mat-raised-button color="primary" #el
                (click)="join(room)" 
                [disabled]="room.users.includes(sessionService.data.id)">
                {{ el.disabled ? 'joined' : 'join'}}
            </button>
        </mat-card-actions>
    
      </mat-card> 
</div>