<div fxLayout="column" style="padding:10px">
    <div>
        <span fxFlex="50"></span>
        <h3>{{selectedRoom.name}}</h3>
        <span fxFlex="50"></span>
    </div>
    <mat-form-field style="border-style:solid" >
        <textarea 
            matInput 
            [(ngModel)] = "message" 
            [disabled] = "(!(ws.$connection | async) || !selectedRoom.id)" 
            style = "padding:10px" >
        </textarea>
    </mat-form-field>
    <button 
        mat-raised-button color="primary" 
        (click)="send(message)" 
        [disabled]="(!(ws.$connection | async)  || (!selectedRoom.id))">
        send
    </button>
    <mat-divider></mat-divider>
    <div 
        detect-scroll 
        (onScroll)="handleScroll($event)" 
        [bottomOffset]="5" 
        [topOffset]="5" 
        style="height:300px; overflow-y:scroll"#messagebox>
        <mat-list>
            <mat-list-item *ngFor="let m of messages">
                <img matListAvatar [src]="'/static/'+m.from.avatar" >
                <span>{{m.from.username}} : </span>
                <span>{{m.text}}</span>
            </mat-list-item>
        </mat-list>
    </div>
</div>