<div class="container">

  <mat-card class="content">

    <mat-card-title >
      <span>Login</span>
    </mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="enter username" [(ngModel)]="username">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions >
        <button mat-raised-button color="primary" (click)="connect(username)" >connect</button>
    </mat-card-actions>

    <mat-card-footer>
      <span class="err-msg center" [hidden]="errorHidden">cant connect to server</span>
    </mat-card-footer>

  </mat-card>

</div>
