<div class="container">

  <mat-card class="content">

    <mat-card-title >
      <span>Login</span>
    </mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="enter username" [(ngModel)]="loginData.username">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="enter password" [(ngModel)]="loginData.password">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions >
        <button mat-raised-button color="primary" (click)="login(loginData)" >login</button>
    </mat-card-actions>

    <mat-card-footer>
      <span class="err-msg center" [hidden]="error.hidden">{{error.message}}</span>
    </mat-card-footer>

  </mat-card>

</div>
