<mat-toolbar color="primary">
    <span>chat</span>
    <span>{{ws.$connection.getValue()}}</span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <div [hidden]="!authService.isAuthenticated()">
        {{ (ws.$connection  | async) ? "Connected" : "Disconnected" }}
        <span class="spacer"></span>
        <mat-slide-toggle (change)="change()" [checked]="ws.$connection  | async"></mat-slide-toggle>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" routerLink='login' [hidden]="authService.isAuthenticated()">login</button>
    <span>{{sessionService.data.username}}</span>
    <button mat-raised-button color="primary" routerLink='register' [hidden]="authService.isAuthenticated()">register</button>
    <button mat-raised-button color="primary" routerLink='login' (click)="logout()" [hidden]="!authService.isAuthenticated()" >logout</button>
</mat-toolbar>