<div class="container" >
    <span>{{selectedRoom.name}}</span>
    <div class=content>

        <div class="message-input">

            <mat-form-field>
                    <textarea matInput [(ngModel)] = "message" [disabled]="error" placeholder="selectedRoom.id"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="send(message)" [disabled]="error">send</button>

        </div>

        <mat-divider></mat-divider>

        <mat-list class="">
            <mat-list-item *ngFor="let m of messages">
                <span>{{m.from.username}} : </span>
                <span>{{m.text}}</span>
            </mat-list-item>
        </mat-list>
    </div>
</div>
